{% extends "layout.html" %}

{% block content %}<h1 style="text-align:center">Advertisements</h1>

<div class="mx-auto mt-5" style="width: 1000px;">
<div class="row text-center">

 {% if ads %} 
 {% for i in ads %}
 {% if i[1] == 1  %}  

<div class="col-lg-3 col-md-6 mb-4">
    <div class="card border-primary bg-dark text-white h-100">
      <div class="card-body">
        <h4 class="card-title">{{i[3]}}</h4>
        <p class="card-text">{{i[2]}}</p>
      </div>
      {% if role == 'musician' %}
      <div class="card-footer text-white">
        <form action = '/apply/{{i[0]}}'>
        <button href="#" type = submit class="btn btn-primary">Apply Now</a>
        </form>
      </div>

    
      {% endif %}
    
    </div>
  </div>
{% endif %}
{% endfor %}
{% endif %}

</div>
</div>
  




{% endblock %}
